
@{
    ViewBag.Title = "Index";
}

<h2>List of reports:</h2>
<h4><a href="@Url.Action("UsersAndTasksCount")">Task count by user</a></h4>
<h4><a href="@Url.Action("TasksPerProject")">Task count by project</a></h4>